---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*,
  -cppcoreguidelines-pro-type-union-access
  "
WarningsAsErrors: "*,
  -boost-use-ranges,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -readability-magic-numbers
  "

HeaderFilterRegex: ""
FormatStyle: none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "x|y|z|u|v|w|it"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "x|y|z|u|v|w"
  - key: readability-function-cognitive-complexity.Threshold
    value: 10
  - key: cppcoreguidelines-pro-bounds-avoid-unchecked-container-access.FixMode
    value: "at"
  - key: modernize-use-trailing-return-type.TransformLambdas
    value: "none"
...
